@font-face {
    font-family: "Josefin Sans";
    src: url("./fonts/JosefinSans-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/JosefinSans-VariableFont_wght.woff") format("woff"),
    url("./fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
